<header>
  <div class="container">
    <div class="nav_contracts">
      <a href="#" class="bg-orange-light">Aluguel de Carros</a>
      <a href="#" class="bg-gray-light">Movida Frotas</a>
      <a href="#" class="bg-purple-light">Seminovos Movida</a>
      <a href="#" class="bg-orange">Movida ZeroKM</a>
    </div>
  </div>
  <div class="bg-orange main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/assets/img/menu_toggle.svg" />
          <img src="/assets/img/logo_movida_zerokm.svg" class="logo" />
        </div>
        <div class="offset-md-4 col-md-4 header-nav">
          <div class="nav">
            <a href="#" class="br-2">
              <img src="/assets/img/pin.svg" /> NOSSAS LOJAS
            </a>
            <a href="#">
              <img src="/assets/img/user_icon.svg" /> FERNANDO <fa-icon [icon]="faChevronDown"></fa-icon>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>

</footer>
