header{
  .nav_contracts{
    a{
      text-decoration: none;
      color: white;
      border-radius: 10px 10px 0px 0px;
      display: inline-block;
      padding: 0.4rem 2.5rem;
      min-width: 15rem;
      text-align: center;
    }
  }

  .bg-orange-light{
    background-color: #F97D0080;
    opacity: 0.6;
  }
  .bg-gray-light{
    background-color: #32323280;
    opacity: 0.6;
  }
  .bg-purple-light{
    background-color: #C9B6D0;
    opacity: 0.6;
  }
  .bg-orange{
    background-color: #F97D00;
  }

  .main-header{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    box-shadow: 0px 3px 6px #00000029;
    .header-nav{
      position: relative;
      .nav{
        text-align: right !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        a{
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          font-weight: bold;
          img{
            margin-left: 0.3rem;
            margin-right: 0.3rem;
          }
          padding-left: 2rem;
          padding-right: 2rem;
        }


      }

      .br-2{
        border-right: 2px solid white;
      }
    }
  }
  .logo{
    margin-left: 2rem;
  }
}

footer{
  background-color: #F4F4F4;
  padding-top: 4rem;
  * {
    color: #58595B;
  }
  .about{
    color: #999999;
    font-weight: lighter;
    font-size: 1.1rem;
  }

  .about-nav, .movida-nav, .sites-movida-nav, .last-nav{
    margin-bottom: 2rem;
    h6{
      color:#F97D00;
      font-weight: bold;
      font-size: 0.9rem;
    }
  }

  .about-nav, .movida-nav, .last-nav{
    a{
      color: #999999;
      text-decoration: none;
      padding-right: 0.7rem;
      border-right: 1px solid #999999;
      margin-right: 0.7rem;
      font-size: 0.9rem;
    }
    a:last-child{
      padding-right: 0;
      border-right: 0;
      margin-right: 0;
    }
  }

  .sites-movida-nav{
    a{
      margin-right: 1rem;
    }
  }
  .last-nav{
    a{
      padding-right: 2rem;
      margin-right: 2rem;
    }
  }

  .footer-orange{
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    background-color: #F97D00;
    p{
      font-size: 0.8rem;
      color: white;
      margin-top: 1.4rem;
    }
    a{
      margin-top: 1rem;
      margin-left: 1rem;
      display: inline-block;
    }

    .social-media{
      text-align: right;
    }

    .ibama{
      margin-top: 0.7rem;
    }
  }
}
