<header>
  <div class="container">
    <div class="nav_contracts">
      <a href="#" class="bg-orange-light">Aluguel de Carros</a>
      <a href="#" class="bg-gray-light">Movida Frotas</a>
      <a href="#" class="bg-purple-light">Seminovos Movida</a>
      <a href="#" class="bg-orange">Movida ZeroKM</a>
    </div>
  </div>
  <div class="bg-orange main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/assets/img/menu_toggle.svg" />
          <img src="/assets/img/logo_movida_zerokm.svg" class="logo" />
        </div>
        <div class="offset-md-4 col-md-4 header-nav">
          <div class="nav">
            <a href="#" class="br-2">
              <img src="/assets/img/pin.svg" /> NOSSAS LOJAS
            </a>
            <a href="#">
              <img src="/assets/img/user_icon.svg" /> FERNANDO <fa-icon [icon]="faChevronDown"></fa-icon>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row about">
      <div class="col-md-2">
        <img src="/assets/img/loja_movida.png"/>
      </div>
      <div class="col-md-10">
        <p>O <strong>Movida Zero Km</strong> é um contrato de locação de longo prazo. Você escolhe o modelo e opcionais desejados, e esquece as
        burocracias. <strong>Movida Zero KM</strong>, o carro por assinatura com tudo o que você precisa.</p>
      </div>
    </div>
    <hr/>
    <div class="row about-nav">
      <div class="col-md-12">
        <h6>ZERO KM</h6>
        <a href="#">Home</a>
        <a href="#">O que é Zero Km Movida?</a>
        <a href="#">Por que assinar</a>
        <a href="#">Compras ou assinar</a>
        <a href="#">Perguntas Frequentes</a>
        <a href="#">Condições Gerais</a>
      </div>
    </div>
    <div class="row movida-nav">
      <div class="col-md-12">
        <h6>A MOVIDA</h6>
        <a href="#">Institucional</a>
        <a href="#">Nossas Lojas</a>
        <a href="#">Fale Conosco</a>
        <a href="#">Trabalhe Conosco</a>
        <a href="#">Imprensa</a>
        <a href="#">Blog</a>
        <a href="#">Política de Privacidade</a>
      </div>
    </div>
    <div class="row sites-movida-nav">
      <div class="col-md-11 col-xs-10">
        <h6>SITES MOVIDA</h6>
        <a href="#"><img src="/assets/img/movida_aluguel.png"/></a>
        <a href="#"><img src="/assets/img/movida_frotas.png"/></a>
        <a href="#"><img src="/assets/img/movida_mensal.png"/></a>
      </div>
      <div class="col-md-1 col-xs-2">
        <img src="/assets/img/canal_denuncia.png">
      </div>
    </div>
    <hr/>
    <div class="row last-nav">
      <div class="col-md-12">
        <a href="#"><img src="/assets/img/codigo_conduta.png"></a>
        <a href="#"><img src="/assets/img/relacao_com_investidores.png"></a>
        <a href="#"><img src="/assets/img/fale_com_o_presidente.png"></a>
        <img src="/assets/img/0800.png">
      </div>
    </div>

  </div>
  <div class="footer-orange">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>&copy; 2019 Movida Zero Km | Todos os direitos reservados.</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="/assets/img/ibama.png" class="ibama" />
        </div>
        <div class="col-md-3 text-center">
          <img src="/assets/img/jsl.png" />
        </div>
        <div class="col-md-2 social-media">
          <a href="#"><img src="/assets/img/facebook.png"/></a>
          <a href="#"><img src="/assets/img/instagram.png"/></a>
          <a href="#"><img src="/assets/img/youtube.png"/></a>
        </div>
      </div>
    </div>
  </div>
</footer>
