/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
*{
  font-family: 'Roboto', sans-serif;
}
.icon-orange {
  color: #F97D00;
  margin-right: 2rem;
}
.icon-orange-center {
  color: #F97D00;
  margin-left: auto;
  margin-right: auto;
}
